@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap.scss";


// Custom
.li-bar{
    background-color: #c5c4c4;
    width: 1px;
    height: 1rem;
}

.c-dropdown {
	position: relative;
	ul {
		display: none;
		min-width: 125px;
		position: absolute;
		z-index: 220;
		background-color: #ffff;
		box-shadow: 0 1px 7px -2px rgb(0, 0, 0 30%);
		padding: 1rem;
		border-radius: 00.15rem;
		margin-top: 00.15rem;
	}
	&:hover {
		ul {
			display: block;
		}
	}
}

