@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
body {
  background: #f6f6f6;
  min-height: 100vh;
  width: 100hw;
}

.container {
  max-width: 1170px !important;
}

.li-bar {
  background-color: #c5c4c4;
  width: 1px;
  height: 1rem;
}

.nav-link {
  font-size: 13px;
  line-height: 13px;
  color: #555252 !important;
  position: relative;
  cursor: pointer;
}
.nav-link:hover {
  color: #a749ff !important;
}
.nav-link i {
  font-size: 23px;
  font-weight: 400;
  font-style: normal;
  color: #000;
}
.nav-link i:hover {
  color: #a749ff;
}
.nav-link .badges {
  font-size: 12px;
  line-height: 21px;
  position: absolute;
  top: -9px;
  right: -14px;
  display: inline-block;
  width: 21px;
  height: 21px;
  text-align: center;
  color: #fff;
  border-radius: 100%;
  background-color: #000;
}

.dropdown-m {
  position: relative;
}
.dropdown-m strong a {
  font-size: 14px;
  line-height: 32px;
  font-weight: 500;
}
.dropdown-m ul, .dropdown-m .nav-menu, .dropdown-m .blog-menu, .dropdown-m .pages-menu, .dropdown-m .shop-menu, .dropdown-m .home-menu {
  position: absolute;
  top: 40px;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.5s ease 0s;
  z-index: 220;
  background-color: #fff !important;
  box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 1rem;
}
.dropdown-m .home-menu {
  width: 720px;
  max-height: 550px;
}
.dropdown-m .shop-menu {
  width: 700px;
  max-height: 550px;
}
.dropdown-m .pages-menu {
  width: 120px;
  max-height: 400px;
}
.dropdown-m .blog-menu {
  width: 120px;
  max-height: 300px;
}
.dropdown-m .nav-menu {
  min-width: 125px;
  margin-top: 0.15rem;
}
.dropdown-m .li-effect {
  position: relative;
  transition: all 0.5s ease-in-out;
}
.dropdown-m .li-effect:hover {
  list-style: disc;
  color: #a749ff;
  transform: translateX(15px);
}
.dropdown-m:hover ul, .dropdown-m:hover .home-menu, .dropdown-m:hover .shop-menu, .dropdown-m:hover .pages-menu, .dropdown-m:hover .blog-menu, .dropdown-m:hover .nav-menu {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
  cursor: pointer;
}

#carouselExampleIndicators .carousel-inner {
  height: 600px;
  background: #f6f6f6;
}

.carousel-control-prev {
  left: -10rem;
  filter: invert(100%);
}

.carousel-control-next {
  right: -10rem;
  filter: invert(100%);
}

.carousel-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1;
}
.carousel-content h1 {
  font-size: 72px;
  font-weight: 400;
  font-style: normal;
  line-height: 97px;
}
.carousel-content h3 {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
}
.carousel-content .btn-c {
  margin-top: 3rem;
  padding: 0.8rem 3rem;
  border: 1px solid black;
  border-radius: none;
  width: 200px;
  height: 60px;
  display: block;
  outline: none;
  background: linear-gradient(to right, purple 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
.carousel-content .btn-c:hover {
  background-position: left bottom;
}

.single-banner {
  border: 4px solid #fff;
  position: relative;
  overflow: hidden;
  margin: 6rem 0;
}
.single-banner img {
  width: 100%;
  transition: all 0.5s ease 0s;
  transform: scale(1);
}
.single-banner .banner-content {
  position: absolute;
  content: "";
  top: 40px;
  left: 40px;
}
.single-banner .banner-content h3 {
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  line-height: 30px;
  color: #617d05;
  font-family: Cormorant Garamond;
}
.single-banner .banner-content h4 {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  color: #010101;
  font-family: Cormorant Garamond;
  margin-bottom: 58px;
}
.single-banner .banner-content h4 span {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 20px;
  color: #617d05;
  font-family: Cormorant Garamond;
}
.single-banner .banner-content a {
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  border: 2px solid #617d05;
  border-radius: 50%;
  color: #617d05;
}
.single-banner .banner-content a:hover {
  color: #aabb72;
}
.single-banner .banner-content a i {
  line-height: 32px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}
.single-banner:hover a img {
  transform: scale(1.2);
}

.section-title h3 {
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  line-height: 30px;
  display: inline-block;
  position: relative;
}
.section-title h3::before, .section-title h3::after {
  position: absolute;
  content: "";
  top: 17px;
  width: 80px;
  height: 2px;
  background-color: #000;
}
.section-title h3::before {
  left: -100px;
}
.section-title h3::after {
  right: -100px;
}

.product-tab-list {
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 55px;
}
.product-tab-list .nav-link {
  background-color: transparent !important;
  margin: 0 12px;
  display: inline-block;
  padding: 8px 16px;
}
.product-tab-list a h4 {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  color: #555;
  transition: all 0.3s ease 0s;
}
.product-tab-list a.active h4, .product-tab-list a h4:hover {
  color: #000;
}

.product-wrap {
  position: relative;
  margin-bottom: 25px;
}
.product-wrap a {
  line-height: inherit;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.product-wrap .product-img {
  position: relative;
  overflow: hidden;
}
.product-wrap .product-img img {
  width: 100%;
}
.product-wrap .product-img .hover-img {
  position: absolute;
  top: 0;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.7s;
  transform: translate(-50%, 20px);
}
.product-wrap .product-img .img-badges {
  position: absolute;
  top: 12px;
  right: 12px;
}
.product-wrap .product-img .img-badges span {
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  padding: 3px 10px;
  border-radius: 3px;
  color: #fff;
}
.product-wrap .product-img .img-badges span:last-child {
  margin-bottom: 0;
}
.product-wrap .product-img .img-badges .pink {
  background-color: #fa6bff;
}
.product-wrap .product-img .img-badges .purple {
  background-color: #a749ff;
}
.product-wrap:hover .hover-img {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -20px);
}
.product-wrap .product-action-main {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  transform: translate(-50%);
}
.product-wrap .product-action-main .product-action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background-color: #a749ff;
  transition: all 0.5s ease;
  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
}
.product-wrap .product-action-main .product-action:hover {
  background: #000;
}
.product-wrap .product-action-main .product-action button {
  font-size: 16px;
  line-height: 48px;
  color: #fff;
  font-weight: 400;
  display: block;
  width: 100%;
  height: 48px;
  background: none;
  border: none;
}
.product-wrap .product-action-main .product-wishlist {
  width: 48px;
  border-right: 1px solid #c5c5c5;
  transition-delay: 0.1s;
}
.product-wrap .product-action-main .product-quickview {
  width: 48px;
  font-size: 16px;
  line-height: 48px;
  color: #fff;
  font-weight: 400;
  border-left: 1px solid #c5c5c5;
  transition-delay: 0.1s;
}
.product-wrap .product-action-main .product-cart {
  width: 48px;
  width: calc(100% - 96px);
  transition-delay: 0.2s;
}
.product-wrap .product-content {
  margin-top: 20px;
}
.product-wrap .product-content h4 {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
}
.product-wrap .product-content h4:hover a {
  color: #a749ff;
}
.product-wrap .product-content .product-rating {
  margin: 3px;
}
.product-wrap .product-content .product-rating .yellow {
  color: #ffa900;
}
.product-wrap .product-content .product-rating .gray {
  color: #555;
}
.product-wrap .product-content .product-pricing h4 {
  margin: 0 9px;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  position: relative;
  color: #000;
}
.product-wrap .product-content .product-pricing .old {
  text-decoration: line-through;
  color: #8e8e8e;
}
.product-wrap .product-content .product-pricing .old::after {
  display: none;
}
.product-wrap .product-content .product-pricing span {
  margin: 0 9px;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  position: relative;
  color: #000;
}
.product-wrap .product-content .product-pricing span::after {
  position: absolute;
  top: 10px;
  right: -13px;
  width: 7px;
  height: 2px;
  content: "";
  background-color: #000;
}
.product-wrap:hover .product-action-main > .product-action {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

.support-wrap {
  padding: 36px 10px 30px;
  border: 4px solid #fff;
  margin: 60px 0;
}
.support-wrap .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes icon-animation {
  0% {
    transform: scaleX(1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }
  100% {
    transform: scaleX(1);
  }
}
.support-wrap:hover .animated {
  animation: icon-animation 0.5s ease-in-out 0s 1 normal none running;
}
.support-wrap h4 {
  font-size: 18px;
  line-height: 24px;
  color: #494949;
  margin: 15px 0;
}
.support-wrap p {
  font-size: 14px;
  width: 80%;
  color: #6a6a6a;
  margin: 0 auto;
}

.subscribe-wrapper {
  margin-top: 50px;
}
.subscribe-wrapper h3 {
  font-size: 48px;
  margin-right: 23px;
  color: #010101;
}
.subscribe-wrapper p {
  font-size: 16px;
  font-weight: 400;
  margin-right: 23px;
  color: #696969;
}
.subscribe-wrapper .subscribe-form {
  position: relative;
}
.subscribe-wrapper .subscribe-form .email {
  width: 100%;
  font-size: 14px;
  height: 45px;
  padding: 2px 50px 2px 0;
  color: #333;
  outline: none;
  border: none;
  border-bottom: 2px solid #e2e2e2;
  background: transparent;
  box-shadow: none;
}
.subscribe-wrapper .subscribe-form .submit {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
}
.subscribe-wrapper .subscribe-form .submit .button {
  font-size: 30px;
  height: 45px;
  padding: 0;
  transition: 0.3s;
  color: #cacaca;
  border: none;
  background: none;
}

.footer-area {
  background-color: #f1f1f1;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.footer-area .scroll-to-top {
  position: fixed;
  z-index: 9999 !important;
  right: 20px;
  bottom: 60px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  overflow: hidden;
  text-align: center;
  color: #fff;
  background-color: #a749ff;
}
.footer-area .scroll-to-top i {
  font-size: 22px;
  line-height: 50px;
  display: block;
}
.footer-area .copyright {
  margin-bottom: 30px;
}
.footer-area .copyright .footer-logo {
  margin-top: 41px;
  margin-bottom: 12px;
}
.footer-area .copyright a {
  color: #313131;
  text-decoration: none;
}
.footer-area .copyright p {
  color: #313131;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.9px;
}
.footer-area .footer-widget {
  margin-left: 30px;
  margin-bottom: 30px;
}
.footer-area .footer-widget h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 16px;
  color: #313131;
  text-transform: uppercase;
}
.footer-area .footer-widget ul, .footer-area .footer-widget .dropdown-m .home-menu, .dropdown-m .footer-area .footer-widget .home-menu, .footer-area .footer-widget .dropdown-m .shop-menu, .dropdown-m .footer-area .footer-widget .shop-menu, .footer-area .footer-widget .dropdown-m .pages-menu, .dropdown-m .footer-area .footer-widget .pages-menu, .footer-area .footer-widget .dropdown-m .blog-menu, .dropdown-m .footer-area .footer-widget .blog-menu, .footer-area .footer-widget .dropdown-m .nav-menu, .dropdown-m .footer-area .footer-widget .nav-menu {
  margin: 0;
  padding: 0;
  list-style: outside none none;
}
.footer-area .footer-widget ul li, .footer-area .footer-widget .dropdown-m .home-menu li, .dropdown-m .footer-area .footer-widget .home-menu li, .footer-area .footer-widget .dropdown-m .shop-menu li, .dropdown-m .footer-area .footer-widget .shop-menu li, .footer-area .footer-widget .dropdown-m .pages-menu li, .dropdown-m .footer-area .footer-widget .pages-menu li, .footer-area .footer-widget .dropdown-m .blog-menu li, .dropdown-m .footer-area .footer-widget .blog-menu li, .footer-area .footer-widget .dropdown-m .nav-menu li, .dropdown-m .footer-area .footer-widget .nav-menu li {
  margin: 0 0 11px;
}
.footer-area .footer-widget ul li a, .footer-area .footer-widget .dropdown-m .home-menu li a, .dropdown-m .footer-area .footer-widget .home-menu li a, .footer-area .footer-widget .dropdown-m .shop-menu li a, .dropdown-m .footer-area .footer-widget .shop-menu li a, .footer-area .footer-widget .dropdown-m .pages-menu li a, .dropdown-m .footer-area .footer-widget .pages-menu li a, .footer-area .footer-widget .dropdown-m .blog-menu li a, .dropdown-m .footer-area .footer-widget .blog-menu li a, .footer-area .footer-widget .dropdown-m .nav-menu li a, .dropdown-m .footer-area .footer-widget .nav-menu li a {
  letter-spacing: 0.3px;
  color: #5d5d5d;
  text-decoration: none;
}
.footer-area .footer-widget .subscribe-style p {
  margin: 0 0 20px;
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.product-wrapC {
  position: relative;
  margin-bottom: 25px;
}
.product-wrapC a {
  line-height: inherit;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.product-wrapC .product-img {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.product-wrapC .product-img img {
  width: 100%;
}
.product-wrapC .product-img .product-content {
  position: absolute;
  content: "";
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(223, 223, 223, 0.5);
}
.product-wrapC .product-img .product-content h4 {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
}
.product-wrapC .product-img .product-content h4:hover a {
  color: #a749ff;
}
.product-wrapC .product-img .product-content .product-rating .yellow {
  color: #ffa900;
}
.product-wrapC .product-img .product-content .product-rating .gray {
  color: #555;
}
.product-wrapC .product-img .product-content .product-pricing h4 {
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  position: relative;
  color: #000;
}
.product-wrapC .product-img .product-content .product-pricing .old {
  text-decoration: line-through;
  color: #8e8e8e;
}
.product-wrapC .product-img .product-content .product-pricing .old::after {
  display: none;
}
.product-wrapC .product-img .product-content .product-pricing span {
  margin: 0 9px;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  position: relative;
  color: #000;
}
.product-wrapC .product-img .product-content .product-pricing span::after {
  position: absolute;
  top: 10px;
  right: -13px;
  width: 7px;
  height: 2px;
  content: "";
  background-color: #000;
}
.product-wrapC .product-img .hover-img {
  position: absolute;
  top: 50%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.7s;
  transform: translate(15px, -50%);
}
.product-wrapC .product-img .img-badges {
  position: absolute;
  top: 115px;
  right: 12px;
}
.product-wrapC .product-img .img-badges span {
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  padding: 3px 10px;
  border-radius: 3px;
  color: #fff;
}
.product-wrapC .product-img .img-badges span:last-child {
  margin-bottom: 0;
}
.product-wrapC .product-img .img-badges .pink {
  background-color: #fa6bff;
}
.product-wrapC .product-img .img-badges .purple {
  background-color: #a749ff;
}
.product-wrapC:hover .hover-img {
  visibility: visible;
  opacity: 1;
  transform: translate(-15px, -50%);
}
.product-wrapC .product-action-main {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  transform: translate(-50%);
}
.product-wrapC .product-action-main .product-action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background-color: #a749ff;
  transition: all 0.8s ease;
  transform: translateX(20px);
  visibility: hidden;
  opacity: 0;
}
.product-wrapC .product-action-main .product-action:hover {
  background: #000;
}
.product-wrapC .product-action-main .product-action button {
  font-size: 16px;
  line-height: 48px;
  color: #fff;
  font-weight: 400;
  display: block;
  width: 100%;
  height: 48px;
  background: none;
  border: none;
}
.product-wrapC .product-action-main .product-wishlist {
  width: 48px;
  border-right: 1px solid #c5c5c5;
  transition-delay: 0.1s;
}
.product-wrapC .product-action-main .product-quickview {
  width: 48px;
  font-size: 16px;
  line-height: 48px;
  color: #fff;
  font-weight: 400;
  border-left: 1px solid #c5c5c5;
  transition-delay: 0.1s;
}
.product-wrapC .product-action-main .product-cart {
  width: 48px;
  width: calc(100% - 96px);
  transition-delay: 0.2s;
}
.product-wrapC:hover .product-action-main > .product-action {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}

/*


sass ./styles/custom/custom.scss ./styles/custom.css


*/

/*# sourceMappingURL=custom.css.map */
